.timetabel-container {
  @extend %container;
  // text-align: center;
  color: $accent-color;
}

.timetabel__subtitle {
  display: flex;
  align-items: center;
  text-align: start;
  padding-top: 84px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary-white;

  @media screen and(min-width: $desktop) {
    padding-top: 130px;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    border-radius: 2px;
    margin-right: 20px;
    padding: 0;
    background-color: $primary-white;

    @media screen and (min-width: $mobile-max) {
      min-width: 45px;
      max-width: 340px;
    }
  }
}

.timetabel__title {
  text-align: start;
  margin-top: 20px;
  margin-bottom: 44px;
  font-family: Northwell;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: $accent-color;
}
.timetabel__table {
  overflow: scroll;
}
// .price__container {
//   @media screen and(max-width: $tablet-max) {
//     padding: 30px;
//     background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
//   }

//   @media screen and (min-width: $tablet-max) {
//     display: flex;
//   }
// }
