<section class="about1__container">
  <ul class="about1-foto" id="about-us1">
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill1.webp    330w,
            ./images/about-us1/tabl-skill1@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.webp    270w,
            ./images/about-us1/desk-skill1@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill1.jpg    330w,
            ./images/about-us1/tabl-skill1@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.jpg    270w,
            ./images/about-us1/desk-skill1@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill1.jpg"
          alt="Стрижка бороды"
          width="330px"
        />
      </picture>
    </li>
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill2.webp    330w,
            ./images/about-us1/tabl-skill2@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.webp    270w,
            ./images/about-us1/desk-skill2@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill2.jpg    330w,
            ./images/about-us1/tabl-skill2@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.jpg    270w,
            ./images/about-us1/desk-skill2@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill2.jpg"
          alt="dance"
          width="330px"
        />
      </picture>
    </li>
  </ul>
  <div class="about1__container-text">
    <div class="about1-subtitle">
      Про нас
      <h1 class="about1-title">EG Dance School</h1>
      <div class="baletShusIcon"></div>
    </div>
    <p class="about1-motivation">
      Школа танців Олени Головань. Це творчий простір, де ваша дитина, отримає
      професійну підготовку в різних напрямках, таких як:
    </p>
    <ul class="dance-list list">
      <li>⁃ класичний танець;</li>
      <li>⁃ акробатика;</li>
      <li>⁃ contemporary;</li>
      <li>⁃ modern;</li>
      <li>⁃ stretching;</li>
      <li>- hip-hop;</li>
      <li>⁃ майстерність актора і ін;</li>
    </ul>
    <p class="about1-description">
      Це абсолютно нова школа, з новим підходом поглядом на танець.
      Індивідуальний підхід до кожного учня, дає можливість виростити в ньому
      особистість. Молоді, амбітні і професійні педагоги, знають і ГОЛОВНЕ
      люблять свою справу! Це абсолютно новий формат у якій немає аналогів в
      Україні! А саме комплексе навчання, тому вам більше не потрібні будуть
      декілька шкіл, адже ми поєднали все та всіх в одному місці. Нові,
      просторі, світлі, професійно оснащені зали, а також закритий формат
      навчання, дозволить вашій дитині повністю зануриться в творчий процес, а
      закрита і охороняється, подарує вам спокій за вашого маленького генія. Мы
      маємо вже два філіалу в Києві, тому обирай зручніший для себе.
    </p>
    <h3>Чекаємо вас за адресою:</h3>
    <p class="about1-description">
      💜м. Київ, вул. М. Максимовича 28В, «Европейский Колегіум» ЖК Нова Англія.
    </p>
    <p class="about1-description">
      💚м.Київ, вул. А. Глушкова 1/ корпус 17, «Midgard» ВДНГ
    </p>
    <p class="about1-description">
      Подаруйте своїй дитині можливість запалити свою зірку ⭐️ разом з EG Dance
      School ❤️
    </p>
    <!-- <button class="button-bg-white">онлайн-запись</button> -->
  </div>
</section>
