<section class="about1__container">
  <ul class="about1-foto" id="about-us1">
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill1.webp    330w,
            ./images/about-us1/tabl-skill1@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.webp    270w,
            ./images/about-us1/desk-skill1@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill1.jpg    330w,
            ./images/about-us1/tabl-skill1@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.jpg    270w,
            ./images/about-us1/desk-skill1@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill1.jpg"
          alt="Стрижка бороды"
          width="330px"
        />
      </picture>
    </li>
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill2.webp    330w,
            ./images/about-us1/tabl-skill2@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.webp    270w,
            ./images/about-us1/desk-skill2@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill2.jpg    330w,
            ./images/about-us1/tabl-skill2@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.jpg    270w,
            ./images/about-us1/desk-skill2@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill2.jpg"
          alt="dance"
          width="330px"
        />
      </picture>
    </li>
  </ul>
  <div class="about1__container-text">
    <div class="about1-subtitle">о нас</div>
    <h class="about1-title">EG Dance School</h>
    <p class="about1-motivation">
      Школа танцев Елены Головань. Это абсолютно новая школа, с новым подходом
      взглядом на танец. Это творческое пространство, где ваш ребёнок, получит
      профессиональную подготовку в разных направлениях, таких как:
    </p>
    <ul class="dance-list list">
      <li>⁃ классический танец;</li>
      <li>⁃ акробатика;</li>
      <li>⁃ contemporary;</li>
      <li>⁃ modern;</li>
      <li>⁃ stretching;</li>
      <li>⁃ мастерство актера и др.</li>
    </ul>
    <p class="about1-description">
      Индивидуальный подход к каждому ученику, даёт возможность вырастить в нём
      личность. Молодые, амбициозные и профессиональные педагоги, знают и
      ГЛАВНОЕ любят своё дело! Это абсолютно новый формат у которой нет аналогов
      в Украине! Новые, просторные, светлые, профессионально оснащённые залы, а
      также закрытый формат обучения, позволит вашему ребёнку полностью
      погрузится в творческий процесс, а закрытая и охраняемая территория,
      подарит вам спокойствие за вашего маленького гения.
    </p>
    <!-- <button class="button-bg-white">онлайн-запись</button> -->
  </div>
</section>
