<section class="about1__container">
  <ul class="about1-foto">
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill1.webp    330w,
            ./images/about-us1/tabl-skill1@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.webp    270w,
            ./images/about-us1/desk-skill1@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill1.jpg    330w,
            ./images/about-us1/tabl-skill1@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.jpg    270w,
            ./images/about-us1/desk-skill1@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill1.jpg"
          alt="Стрижка бороды"
          width="330px"
        />
      </picture>
    </li>
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill2.webp    330w,
            ./images/about-us1/tabl-skill2@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.webp    270w,
            ./images/about-us1/desk-skill2@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill2.jpg    330w,
            ./images/about-us1/tabl-skill2@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.jpg    270w,
            ./images/about-us1/desk-skill2@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill2.jpg"
          alt="Стрижка бороды" width="330px"
        />
      </picture>
    </li>
  </ul>
  <div class="about1__container-text">
    <div class="about1-subtitle">о нас</div>
    <h class="about1-title">EG Dance School</h>
    <p class="about1-motivation">
      Профессиональные педагоги научат танцевать новичка и помогут развиваться профессионалу. Индивидуальные и групповые занятия, постановки, мастер-классы и занятия основ современных стилей и хореографии, группы разных уровней подготовки и возраста.


    </p>
    <p class="about1-description">
      EG Dance School это творческое пространство, которое объединяет людей, живущих в ритме танца. Мы создали место для вдохновения и реализации желаний, чтобы раскрыть внутренний мир и воплотить творческие мечты в жизнь.
    </p>
    <button class="button-bg-white">онлайн-запись</button>
  </div>
</section>
