<section class="contacts-form-section">
  <!-- <div class="form-сontainer" id="form"> -->
  <!-- <h2 class="form-title">Онлайн запись</h2> -->
  <!-- <form class="">
      <div class="form-flex-input">
        <div class="form-field form-flex-input-item">
          <label for="customer-name">
            <input
              class="form-input"
              type="text"
              placeholder="ИМЯ*"
              name="customer-name"
              id="customer-name"
            />
          </label>
        </div>
        <div class="form-field form-flex-input-item">
          <label for="customer-phone"
            ><input
              class="form-input"
              type="tel"
              placeholder="ТЕЛЕФОН*"
              name="customer-phone"
              id="customer-phone"
            />
          </label>
        </div>
      </div>
      <div class="form-field">
        <textarea
          class="massage form-input"
          name="customer-massage"
          placeholder="СООБЩЕНИЕ"
          id="massage"
          rows="4"
        ></textarea>
        <label class="massage-label" for="massage"></label>
        <textarea width="448px" height="120px"></textarea> -->
  <!-- </div>
      <div class="button-box">
        <button class="form-button button-bg-black" type="submit">
          отправить
        </button>
      </div>
    </form> 
  </div> -->
  <div class="contacts-time-сontainer" id="contacts">
    <h2 class="form-title">Контакти</h2>
    <div class="flex-div">
      <address class="contacts-сontainer">
        <ul class="">
          <li class="address-item">
            <a class="address-item-link map-pin-svg-parent" href="">
              <svg width="24" height="24" class="map-pin-svg icon-form">
                <use href="./images/sprite.svg#map-pin"></use>
              </svg>
              <span class="address"
                >💜м. Київ, вул. М. Максимовича 28В, «Европейский Колегіум» ЖК
                Нова Англія.
              </span></a
            >
          </li>
          <li class="address-item">
            <a class="address-item-link map-pin-svg-parent" href="">
              <svg width="24" height="24" class="map-pin-svg icon-form">
                <use href="./images/sprite.svg#map-pin"></use>
              </svg>
              <span class="address"
                >💚м.Київ, вул. А. Глушкова 1/ корпус 17, «Midgard» ВДНГ
              </span></a
            >
          </li>
          <li class="address-item">
            <a class="address-item-link" href="tel:+380441111111">
              <svg width="24" height="24" class="icon-form">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
              +38 099 045 27 78</a
            >
          </li>
          <li class="address-item mail">
            <a class="address-item-link" href="mailto:barbershop@email.com">
              <svg width="24" height="24" class="icon-form">
                <use href="./images/sprite.svg#mail"></use>
              </svg>
              elenagolovanwork@gmail.com</a
            >
          </li>
        </ul>
      </address>
      <div class="working-time-сontainer">
        <div class="working-time-title">время работы</div>
        <span class="working-time-text">Ежедневно с 13:00 до 18:00</span>
      </div>
    </div>
  </div>
</section>
