<div class="team-background">
  <section class="team-container" id="our-masters">
    <div class="team-subtitle">для справжніх цінителів атмосфери</div>
    <h2 class="team-title">Наші педагоги</h2>
    <ul class="team-list">
      <!--Художественный руководитель-->
      <li class="team-item">
        <img
          class="team-img"
          src="./images/our-masters/desk-lena.jpg"
          alt="Elena Golovan foto"
        />
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Елена Головань</h3>
          <p class="team-description">Художній керівник</p>
        </div>
        <!--блок команды social icon-->
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CEJSiaKh8oz/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/golovan_lena/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/golovan_lena/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/golovan_lena/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="./images/our-masters/mob-John-Smith.jpg"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/our-masters/tabl-John-Smith.jpg"
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/our-masters/desk-Vova-Rahov.jpg"
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/our-masters/desk-Vova-Rahov.jpg"
            alt="Volodimr Rahov Foto"
          />
        </picture>
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Володимир Раков</h3>
          <p class="team-description">
            Педагог: Contemporary Dance, Streching. Хореограф постановник.
          </p>
        </div>

        <!--блок команды social icon-->
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CEL3tYQJIDU/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/rakovvn/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/rakovvn/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/rakovvn/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="./images/our-masters/desk-Petr-Nacu.jpg"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/our-masters/tablet-Petr-Nacu.jpg"
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/our-masters/desk-Petr-Nacu.jpg"
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/our-masters/Petr-Nacu.jpg"
            alt="Petr Nacu foto"
          />
        </picture>
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Петро Наку</h3>
          <p class="team-description">
            Педагог: Contemporary. Хореограф постановник.
          </p>
        </div>
        <!--блок команды social icon-->
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CSb1C6ankJT/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CSb1C6ankJT/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CSb1C6ankJT/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="hhttps://www.instagram.com/p/CSb1C6ankJT/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="./images/our-masters/mob-Michele-Doe.jpg"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/our-masters/tabl-Michele-Doe.jpg"
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/our-masters/desk-Michele-Doe.jpg"
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/our-masters/desk-Michele-Doe.jpg"
            alt="Olga Shevchuk Foto"
          />
        </picture>
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Ольга Шевчук</h3>
          <p class="team-description">
            Педагог: Contemporary, Modern, Класичний танець. Хореограф
            постановник.
          </p>
        </div>

        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/CFrqyYbJc3V/?utm_medium=copy_link"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/oliashevchukk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/oliashevchukk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/oliashevchukk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="./images/our-masters/mob-Alan-Black.jpg"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/our-masters/tabl-Alan-Black.jpg"
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/our-masters/desk-Alan-Black.jpg"
            media="(min-width: 1280px)"
          />
          <img
            class="team-img"
            src="./images/our-masters/desk-Alan-Black.jpg"
            alt="Misha Kilimchuk Foto"
          />
        </picture>
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Михайло Килимчук</h3>
          <p class="team-description">
            Педагог: Contemporary, Modern, Класичний танець. Хореограф
            постановник.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/misha_kilimchuk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/misha_kilimchuk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/misha_kilimchuk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/misha_kilimchuk/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          src="./images/our-masters/desk-natali.jpg"
          alt="Natali Jdan Foto"
        />
        <div class="team-name-description-container">
          <h3 class="team-title-h3">Наталія Ждан</h3>
          <p class="team-description">
            Педагог: Акробатики, Гимнастики, Contemporary. Хореограф
            постановник.
          </p>
        </div>

        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.instagram.com/p/COvCcUKnQua/?utm_medium=copy_link/"
              class="social-link"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/let_nat/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/let_nat/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/let_nat/" class="social-link">
              <svg class="social-icon">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
