<div class="events-container">
  <div class="events__subtitle" id="our-events">наши события, новости</div>
  <h2 class="events__title">Новости и события</h2>
  <div class="dataTime__container">
    <ul class="dataTime__list1">
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">12:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">15:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">13:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">10:00 15.08.2021</p>
      </li>
    </ul>
    <!-- <ul class="dataTime__list2">
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">20:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 6 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">15:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 7 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">12:00 15.08.2021</p>
      </li>
      <li class="dataTime__item">
        <a href="" class="dataTime__link">
          Новость 8 Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Consequuntur?
        </a>
        <p class="dataTime__from">12:00 15.08.2021</p>
      </li>
    </ul> -->
  </div>

  <!-- <button type="button" class="service__button">онлайн-запись</button> -->
</div>
