<div class="timetabel-container" id="timetabel">
  <h4 class="timetabel__subtitle">Розклад занять на М. Максимовича</h4>
  <h2 class="timetabel__title">EG Dance School</h2>
  <div class="timetabel__table">
    <style>
      /* Стили таблицы (IKSWEB) */
      table.iksweb {
        text-decoration: none;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        text-align: center;
      }
      table.iksweb th {
        font-weight: normal;
        font-size: 20px;
        color: #ffffff;
        background-color: #354251;
      }
      table.iksweb td {
        font-size: 12px;
        color: #fec018;
        word-wrap: break-word;
      }
      table.iksweb td,
      table.iksweb th {
        /* white-space: pre-wrap; */
        width: 150px;
        height: 150px;
        padding: 5px 20px;
        line-height: 20px;
        vertical-align: middle;
        border: 3px solid #fec018;
      }
      table.iksweb tr:hover {
        background-color: #f9fafb;
      }
      table.iksweb tr:hover td {
        color: #354251;
        cursor: default;
      }
      .mobile-table {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
      }
      .place {
        font-weight: 900;
      }
      .place-time-1 {
        background-color: rgb(12, 151, 151);
      }
      .place-time-2 {
        background-color: rgb(77, 88, 88);
      }
      .place-time-3 {
        background-color: rgb(7, 58, 58);
      }
      .place-time-4 {
        background-color: rgb(47, 139, 139);
      }
    </style>
    <div class="mobile-table">
      <table class="iksweb">
        <thead>
          <tr>
            <th>Зал</th>
            <th>Понеділок</th>
            <th>Вівторок</th>
            <th>Середа</th>
            <th>Четверг</th>
            <th>П’ятниця</th>
            <th>Субота</th>
          </tr>
        </thead>
        <tbody>
          <tr class="place-time-1">
            <td class="place">Перший зал (хореография)</td>
            <td>
              17.00-18.00 <br />PRO<br />КЛАСИЧНИЙ ТАНЕЦ <br />ГОЛОВАНЬ ОЛЕНА
            </td>
            <td>
              16.30-18.00 <br />BEGINNERS<br />КЛАСИЧНИЙ ТАНЕЦ<br />РОЗТЯЖКА
              <br />ШЕВЧУК ОЛЯ
            </td>
            <td>
              17.00-18.00 <br />PRO<br />КЛАСИЧНИЙ ТАНЕЦ<br />ГОЛОВАНЬ ОЛЕНА
            </td>
            <td>
              16.30-18.00 <br />BEGINNERS<br />КЛАСИЧНИЙ ТАНЕЦ<br />
              РОЗТЯЖКА<br />ШЕВЧУК ОЛЯ
            </td>
            <td>
              17.00-18.00 <br />PRO<br />КЛАСИЧНИЙ ТАНЕЦ<br />ГОЛОВАНЬ ОЛЕНА
            </td>
            <td>
              10.00-11.30 <br />BEGINNERS<br />КЛАСИЧНИЙ ТАНЕЦ<br />РОЗТЯЖКА<br />ШЕВЧУК
              ОЛЯ
            </td>
          </tr>
          <tr class="place-time-1">
            <td class="place">Первый зал (хореография)</td>
            <td>18.00-19.00<br />PRO<br />РОЗТЯЖКА<br />ГОЛОВАНЬ ОЛЕНА</td>
            <td>18.00-19.00<br />CONTEMPORARY<br />MODERN<br />ШЕВЧУК ОЛЯ</td>
            <td>18.00-19.00<br />PRO<br />РОЗТЯЖКА<br />ГОЛОВАНЬ ОЛЕНА</td>
            <td>18.00-19.00<br />CONTEMPORARY<br />MODERN<br />ШЕВЧУК ОЛЯ</td>
            <td>18.00-19.00<br />PRO<br />РОЗТЯЖКА<br />ГОЛОВАНЬ ОЛЕНА</td>
            <td>11.30-12.30<br />CONTEMPORARY<br />MODERN<br />ШЕВЧУК ОЛЯ</td>
          </tr>
          <tr class="place-time-1">
            <td class="place">Первый зал (хореография)</td>
            <td>
              19.30-20.30<br />(16+)<br />CONTEMPORARY РОЗТЯЖКА<br />НАКУ ПЕРТО
            </td>
            <td>
              19.10-20.10<br />BEGINNERS CONTEMPORARY<br />MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
            <td>
              19.30-20.30<br />(16+)<br />CONTEMPORARY РОЗТЯЖКА<br />НАКУ ПЕРТО
            </td>
            <td>
              19.05-20.05<br />BEGINNERS CONTEMPORARY<br />MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
            <td>
              19.30-20.30<br />(16+)<br />CONTEMPORARY РОЗТЯЖКА<br />НАКУ ПЕРТО
            </td>
            <td>
              12.30-13.30<br />BEGINNERS CONTEMPORARY<br />MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
          </tr>
          <tr class="place-time-2">
            <td class="place">Второй зал (хореография)</td>
            <td>
              16.30-18.00<br />
              BEGINNERS NEW<br />РОЗТЯЖКА<br />ЖДАН НАТАЛЬЯ
            </td>
            <td></td>
            <td>
              16.30-18.00<br />
              BEGINNERS NEW<br />РОЗТЯЖКА<br />ЖДАН НАТАЛЬЯ
            </td>
            <td></td>
            <td>
              16.30-18.00<br />
              BEGINNERS NEW<br />РОЗТЯЖКА<br />ЖДАН НАТАЛЬЯ
            </td>
            <td></td>
          </tr>
          <tr class="place-time-2">
            <td class="place">Второй зал (хореография)</td>
            <td></td>
            <td>
              19.30-21.00<br />BIG 16+<br />
              STRETCHING<br />РАКОВ ВОВА
            </td>
            <td></td>
            <td>
              19.30-21.00<br />BIG 16+<br />
              STRETCHING<br />РАКОВ ВОВА
            </td>
            <td></td>
            <td>
              19.30-21.00<br />BIG 16+<br />
              STRETCHING<br />РАКОВ ВОВА
            </td>
          </tr>
          <tr class="place-time-3">
            <td class="place">Спорт зал</td>
            <td>
              18.05-19.05<br />BEGINNERS NEW<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН
              НАТАЛЬЯ
            </td>
            <td>
              18.05-19.05<br />BEGINNERS<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН
              НАТАЛЬЯ
            </td>
            <td>
              18.05-19.05<br />BEGINNERS NEW <br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН
              НАТАЛЬЯ
            </td>
            <td>
              18.05-19.05<br />BEGINNERS<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН
              НАТАЛЬЯ
            </td>
            <td>
              18.05-19.05<br />BEGINNERS NEW<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН
              НАТАЛЬЯ
            </td>
            <td>
              10.20-11.20 <br />PRO<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН НАТАЛЬЯ
            </td>
          </tr>
          <tr class="place-time-3">
            <td class="place">Спорт зал</td>
            <td>19.05-20.05 <br />PRO-1<br />АКРОБАТИКА<br />ЖДАН НАТАЛЬЯ</td>
            <td>
              19.10-20.10 <br />PRO<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН НАТАЛЬЯ
            </td>
            <td>19.05-20.05 <br />PRO-1<br />АКРОБАТИКА<br />ЖДАН НАТАЛЬЯ</td>
            <td>
              19.10-20.10 <br />PRO<br />АКРОБАТИКА ГИМНАСТИКА<br />ЖДАН НАТАЛЬЯ
            </td>
            <td>19.05-20.05 <br />PRO-1<br />АКРОБАТИКА<br />ЖДАН НАТАЛЬЯ</td>
            <td>
              11.30-12.30 <br />BEGINNERS<br />АКРОБАТИКА<br />ЖДАН НАТАЛЬЯ
            </td>
          </tr>
          <tr class="place-time-4">
            <td class="place">Первый зал (хореография)</td>
            <td>
              18.00-19.00<br />PRO-1<br />CONTEMPORARY STRETCHING<br />НАКУ
              ПЕРТО
            </td>
            <td>
              19.10-20.10<br />BEGINNERS<br />CONTEMPORARY MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
            <td>
              18.00-19.00<br />PRO-1<br />CONTEMPORARY STRETCHING<br />НАКУ
              ПЕРТО
            </td>
            <td>
              19.05-20.05<br />BEGINNERS<br />CONTEMPORARY MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
            <td>
              18.00-19.00<br />PRO-1<br />CONTEMPORARY STRETCHING<br />НАКУ
              ПЕРТО
            </td>
            <td>
              12.30-13.30<br />BEGINNERS<br />CONTEMPORARY MODERN<br />ШЕВЧУК
              ОЛЯ
            </td>
          </tr>
          <tr class="place-time-4">
            <td class="place">Первый зал (хореография)</td>
            <td>
              19.30-21.00<br />(16+)<br />CONTEMPORARY STRETCHING<br />НАКУ
              ПЕРТО
            </td>
            <td></td>
            <td>
              19.30-21.00<br />(16+)<br />CONTEMPORARY STRETCHING<br />НАКУ
              ПЕРТО
            </td>
            <td></td>
            <td>
              19.30-21.00<br />
              (16+)<br />CONTEMPORARY STRETCHING<br />НАКУ ПЕРТО
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
