<div class="timetabel-container" id="timetabel">
  <h4 class="timetabel__subtitle">Розклад занять</h4>
  <h2 class="timetabel__title">EG Dance School</h2>
  <p class="timetabel__address">
    💜м. Київ, вул. М. Максимовича 28В, «Европейский Колегіум» ЖК Нова Англія.
  </p>
  <div class="timetabel__subcontainer">
    <ul class="timetabel__list">
      <li class="timetabel__item">
        ПОНЕДІЛОК
        <ul>
          <li>08:30 Розтяжка</li>
          <li>09:30 Класика (балет)</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Класика (балет)+пуанти 1,5 год</li>
        </ul>
      </li>
      <li class="timetabel__item">
        ВІВТОРОК
        <ul>
          <li>10:00 Класика (балет) + розтяжка</li>
          <li>18:00 Класика (балет)</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Progressive ballet (на м’ячах)</li>
        </ul>
      </li>
      <li class="timetabel__item">
        СЕРЕДА
        <ul>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Розтяжка</li>
          <li>19:00 Класика (балет)</li>
        </ul>
      </li>
      <li class="timetabel__item">
        ЧЕТВЕР
        <ul>
          <li>10:00 Класика (балет) + розтяжка</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Modern ballet</li>
        </ul>
      </li>
      <li class="timetabel__item">
        П ’ЯТНИЦЯ
        <ul>
          <li>08:30 Розтяжка</li>
          <li>09:30 Класика (балет)</li>
          <li>18:30 Класика (балет) + розтяжка (1,5 години)</li>
          <li>20:00 Оберти та стрибки</li>
        </ul>
      </li>
      <li class="timetabel__item">
        СУБОТА
        <ul>
          <li>11:00 Класика (балет)</li>
          <li>12:00 Розтяжка</li>
          <li>13:00 Modern</li>
          <li>14:00 Пуанти</li>
        </ul>
      </li>
      <!-- <img id="service" src="./images/time-tables/table-may.jpg" alt="" /> -->
    </ul>

    <p class="timetabel__address">
      💚м.Київ, вул. А. Глушкова 1/ корпус 17, «Midgard» ВДНХ.
    </p>
    <ul class="timetabel__list">
      <li class="timetabel__item">
        ПОНЕДІЛОК
        <ul>
          <li>08:30 Розтяжка</li>
          <li>09:30 Класика (балет)</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Класика (балет)+пуанти 1,5 год</li>
        </ul>
      </li>
      <li class="timetabel__item">
        ВІВТОРОК
        <ul>
          <li>10:00 Класика (балет) + розтяжка</li>
          <li>18:00 Класика (балет)</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Progressive ballet (на м’ячах)</li>
        </ul>
      </li>
      <li class="timetabel__item">
        СЕРЕДА
        <ul>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Розтяжка</li>
          <li>19:00 Класика (балет)</li>
        </ul>
      </li>
      <li class="timetabel__item">
        ЧЕТВЕР
        <ul>
          <li>10:00 Класика (балет) + розтяжка</li>
          <li>18:00 Класика (балет)</li>
          <li>19:00 Класика (балет)</li>
          <li>20:00 Modern ballet</li>
        </ul>
      </li>
      <li class="timetabel__item">
        П ’ЯТНИЦЯ
        <ul>
          <li>08:30 Розтяжка</li>
          <li>09:30 Класика (балет)</li>
          <li>18:30 Класика (балет) + розтяжка (1,5 години)</li>
          <li>20:00 Оберти та стрибки</li>
        </ul>
      </li>
      <li class="timetabel__item">
        СУБОТА
        <ul>
          <li>11:00 Класика (балет)</li>
          <li>12:00 Розтяжка</li>
          <li>13:00 Modern</li>
          <li>14:00 Пуанти</li>
        </ul>
      </li>
      <!-- <img id="service" src="./images/time-tables/table-may.jpg" alt="" /> -->
    </ul>
  </div>
</div>
