<div class="timetabel-container" id="timetabel">
  <h4 class="timetabel__subtitle">Розклад занять на вересень</h4>
  <h2 class="timetabel__title">EG Dance School</h2>
  <div class="timetabel__table">
    <style>
      /* Стили таблицы (IKSWEB) */
      table.iksweb {
        text-decoration: none;
        border-collapse: collapse;
        width: auto;
        text-align: center;
      }
      table.iksweb th {
        font-weight: normal;
        font-size: 20px;
        color: #ffffff;
        background-color: #354251;
      }
      table.iksweb td {
        font-size: 12px;
        color: #fec018;
      }
      table.iksweb td,
      table.iksweb th {
        white-space: pre-wrap;
        width: 150px;
        height: 150px;
        padding: 5px 5px;
        line-height: 20px;
        vertical-align: middle;
        border: 3px solid #fec018;
      }
      table.iksweb tr:hover {
        background-color: #f9fafb;
      }
      table.iksweb tr:hover td {
        color: #354251;
        cursor: default;
      }
      .mobile-table {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
      }
      .place {
        font-weight: 900;
      }
      .place-time-1 {
        background-color: rgb(12, 151, 151);
      }
      .place-time-2 {
        background-color: rgb(77, 88, 88);
      }
      .place-time-3 {
        background-color: rgb(7, 58, 58);
      }
      .place-time-4 {
        background-color: rgb(47, 139, 139);
      }
    </style>
    <div class="mobile-table">
      <table class="iksweb">
        <thead>
          <tr>
            <th>Зал</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Субота</th>
          </tr>
        </thead>
        <tbody>
          <tr class="place-time-1">
            <td class="place">Первый зал (хореография)</td>
            <td>16.00-17.00 /PRO/ КЛАССИКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>16.30-18.00 /BEGINNERS/ КЛАССИКА/ РАСТЯЖКА/ ШЕВЧУК ОЛЯ</td>
            <td>16.00-17.00 /PRO/ КЛАССИКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>16.30-18.00 /BEGINNERS/ КЛАССИКА/ РАСТЯЖКА/ ШЕВЧУК ОЛЯ</td>
            <td>16.00-17.00 /PRO/ КЛАССИКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>10.00-13.30 /BEGINNERS/ КЛАССИКА/ РАСТЯЖКА/ ШЕВЧУК ОЛЯ</td>
          </tr>
          <tr class="place-time-1">
            <td class="place">Первый зал (хореография)</td>
            <td>17.00-18.00 /PRO/ РАСТЯЖКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>18.30-19.00 /CONTEMPORARY/ MODERN/ ШЕВЧУК ОЛЯ</td>
            <td>17.10-18.00 /PRO/ РАСТЯЖКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>18.30-19.00 /CONTEMPORARY/ MODERN/ ШЕВЧУК ОЛЯ</td>
            <td>17.00-18.00 /PRO/ РАСТЯЖКА/ ГОЛОВАНЬ ЕЛЕНА</td>
            <td>11.30-12.00 /CONTEMPORARY/ MODERN/ ШЕВЧУК ОЛЯ</td>
          </tr>
          <tr class="place-time-2">
            <td class="place">Второй зал (хореография)</td>
            <td>16.30-18.00 /BEGINNERS NEW/ РАСТЯЖКА/ НАТАЛЬЯ ЖДАН</td>
            <td></td>
            <td>16.30-18.00 /BEGINNERS NEW/ РАСТЯЖКА/ НАТАЛЬЯ ЖДАН</td>
            <td></td>
            <td>16.30-18.00 /BEGINNERS NEW/ РАСТЯЖКА/ НАТАЛЬЯ ЖДАН</td>
            <td></td>
          </tr>
          <tr class="place-time-2">
            <td class="place">Второй зал (хореография)</td>
            <td>18.00-21.00 /ХОП КУРС /ИНДИВЫ</td>
            <td>19.30-21.00 /STRETCHING /BIG 16+ / РАКОВ ВОВА</td>
            <td></td>
            <td>19.30-21.00 /STRETCHING /BIG 16+ / РАКОВ ВОВА</td>
            <td></td>
            <td>19.30-21.00 /STRETCHING /BIG 16+ / РАКОВ ВОВА</td>
          </tr>
          <tr class="place-time-3">
            <td class="place">Спорт зал</td>
            <td>
              18.05-19.05 /BEGINNERS NEW /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН
            </td>
            <td>
              18.05-19.05 /BEGINNERS /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН
            </td>
            <td>
              18.05-19.05 /BEGINNERS NEW /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН
            </td>
            <td>
              18.05-19.05 /BEGINNERS /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН
            </td>
            <td>
              18.05-19.05 /BEGINNERS NEW /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН
            </td>
            <td>10.20-11.20 /PRO /ГИМНАСТИКА /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
          </tr>
          <tr class="place-time-3">
            <td class="place">Спорт зал</td>
            <td>19.05-20.05 /PRO-1 /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
            <td>19.10-20.10 /PRO-1 /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
            <td>17.00-18.00 /PRO-1 /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
            <td>19.10-20.10 /PRO-1 /АКРОБАТИКА /ГИМНАСТИКА /НАТАЛЬЯ ЖДАН</td>
            <td>17.00-18.00 /PRO-1 /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
            <td>11.30-12.30 /BEGINNERS /АКРОБАТИКА /НАТАЛЬЯ ЖДАН</td>
          </tr>
          <tr class="place-time-4">
            <td class="place">Первый зал (хореография)</td>
            <td>18.00-19.00 /PRO-1 /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td>19.10-20.10 /BEGINNERS /CONTEMPORARY /MODERN /ШЕВЧУК ОЛЯ</td>
            <td>18.00-19.00 /PRO-1 /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td>19.05-20.05 /BEGINNERS /CONTEMPORARY /MODERN /ШЕВЧУК ОЛЯ</td>
            <td>18.00-19.00 /PRO-1 /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td>12.30-13.30 /BEGINNERS /CONTEMPORARY /MODERN /ШЕВЧУК ОЛЯ</td>
          </tr>
          <tr class="place-time-4">
            <td class="place">Первый зал (хореография)</td>
            <td>19.30-21.00 (16+) /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td></td>
            <td>19.30-21.00 (16+) /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td></td>
            <td>19.30-21.00 (16+) /CONTEMPORARY /STRETCHING /НАКУ ПЁТР</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
